/*CSS DOCUMENT*/

div.container{
    max-width: 60em;
    margin: 0 auto; 
    padding: 2em;
}

figure{ 
        display:grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 5em auto 3em;
        grid-row-gap: 12em;
        grid-column-gap:2em;
        padding-bottom: 1.5em;
        
    }

figcaption{
        padding-top: 2em;
        font-size: 1em;
        width:12em; 
        font-style: italic;
}

main{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 5em auto 3em;
        grid-column-gap: 2.5em;
        grid-row-gap: 15em ;
        margin-bottom: .5em;
}

header{
        grid-column: 1/3;
}

 
 html, body, div, span, applet, object, iframe, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 1em 1em 0 1em;  padding: 0; border: 0;  vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */
 









 h1{ color: rgb(255, 50, 50);
     margin:  1em 1em 0 1em;}
 
 h2{font-family: sans-serif;
     color: rgb(255, 158, 158);
     margin:  1em 1em 0 1em;}
 
 h3{font-family: sans-serif;
    color: rgb(255, 158, 158);
    margin:  1em 1em 0 1em;}
 
 footer {color: rgb(192,192,192);
         font-family:  sans-serif;
         grid-column: 1/3;
         margin: .5em 0 1em 0;}
 
 img { 
     width: 100%; /*Please leave this line.*/
     margin-top: 1em;
     grid-column:1/2;
 }
 
 /*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
